/* project-common */
@font-face{
	font-family: 'pt_sans';
	src: url(../fonts/PTSansRegular/PTSansRegular.eot) format("eot");
	src: url(../fonts/PTSansRegular/PTSansRegular.ttf) format("ttf");
	src: url(../fonts/PTSansRegular/PTSansRegular.woff) format("woff");
	font-weight: normal;
}

@font-face{
	font-family: 'pt_sans';
	src: url(../fonts/PTSansBold/PTSansBold.eot) format("eot");
	src: url(../fonts/PTSansBold/PTSansBold.ttf) format("ttf");
	src: url(../fonts/PTSansBold/PTSansBold.woff) format("woff2");
	font-weight: bold;
}

@font-face{
	font-family: 'pt_sans';
	src: url(../fonts/PTSansItalic/PTSansItalic.eot) format("eot");
	src: url(../fonts/PTSansItalic/PTSansItalic.ttf) format("ttf");
	src: url(../fonts/PTSansItalic/PTSansItalic.woff) format("woff2");
	font-style: italic;
}

@font-face{
	font-family: 'FuturaPT-Book';
	src: url(../fonts/FuturaPT-Book/FuturaPT-Book.eot?) format("eot");
	src: url(../fonts/FuturaPT-Book/FuturaPT-Book.woff) format("woff");
	src: url(../fonts/FuturaPT-Book/FuturaPT-Book.ttf) format("truetype");
	font-weight: 400;
}

@font-face{
	font-family: 'FuturaPT-Medium';
	src: url(../fonts/FuturaPT-Medium/FuturaPT-Medium.eot?) format("eot");
	src: url(../fonts/FuturaPT-Medium/FuturaPT-Medium.woff) format("woff");
	src: url(../fonts/FuturaPT-Medium/FuturaPT-Medium.ttf) format("truetype");
	font-weight: 500;
}

@font-face{
	font-family: 'FuturaPT-Demi';
	src: url(../fonts/FuturaPT-Demi/FuturaPT-Demi.eot?) format("eot");
	src: url(../fonts/FuturaPT-Demi/FuturaPT-Demi.woff) format("woff");
	src: url(../fonts/FuturaPT-Demi/FuturaPT-Demi.ttf) format("truetype");
	font-weight: 600;
}

@font-face{
	font-family: 'FuturaPT-Bold';
	src: url(../fonts/FuturaPT-Bold/FuturaPT-Bold.eot?) format("eot");
	src: url(../fonts/FuturaPT-Bold/FuturaPT-Bold.woff) format("woff");
	src: url(../fonts/FuturaPT-Bold/FuturaPT-Bold.ttf) format("truetype");
	font-weight: 700;
}

@font-face{
	font-family: 'FuturaPT-ExtraBold';
	src: url(../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.eot?) format("eot");
	src: url(../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.woff) format("woff");
	src: url(../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.ttf) format("truetype");
	font-weight: 800;
}

@font-face{
	font-family: 'FuturaPT-Heavy';
	src: url(../fonts/FuturaPT-Heavy/FuturaPT-Heavy.eot?) format("eot");
	src: url(../fonts/FuturaPT-Heavy/FuturaPT-Heavy.woff) format("woff");
	src: url(../fonts/FuturaPT-Heavy/FuturaPT-Heavy.ttf) format("truetype");
	font-weight: 900;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

body{
	font-family: pt_sans;
	max-width: 1280px;
}

	
.container {
	width: 1170px;
	margin: 0 auto;
}

.row {font-size: 0;}

[class*="col"] {
	display: inline-block; 
	vertical-align: top;
	text-align: left;
	
}

.col1 {width: 8.33%;}
.col2 {width: 16.66%;}
.col3 {width: 25%;}
.col4 {width: 33.33%;}
.col5 {width: 41.66%;}
.col6 {width: 50%;}
.col7 {width: 58.33%;}
.col8 {width: 66.66%;}
.col9 {width: 75%;}
.col10 {width: 83.11%;}
.col11 {width: 91.66%;}
.col12 {width: 100%;}


.btn{
	display: inline-block;
	padding: 10px 20px;
	color: #77e3ab;
	text-decoration: none;
	font-family: 'FuturaPt-Heavy';
	font-size: 15px;
	-webkit-transition: background-color, color .2s ease;
	-o-transition: background-color, color .2s ease;
	transition: background-color, color .2s ease;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #77e3ab;
	color: #fff;
}

.btn-black{
	border: 2px solid black;
}

.btn-white{
	border: 2px solid white;
}


a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
	display: inline-block;
}

h2 {font-family: 'FuturaPT-Demi'; font-size: 40px; text-align: center;}
h3 {font-family: 'FuturaPT-Medium'; font-size: 20px;}
p {font-family: 'pt_sans'; font-size: 15px; /*font-weight: bold;*/}
span {font-family: 'pt_sans'; font-size: 15px;}

	/* header*/

.header-bottom {
	margin-top: 30px;
	margin-bottom: 30px;
}

header [class*="col"]{
	/*vertical-align: top;*/
}

a.logo {
	display: inline-block;
	height: 55px;
	width: 160px;
	background-image: url(../img/logo.png);
}

nav {
	display: inline-block;
	font-family: 'FuturaPT-Demi';
	font-size: 15px;
	text-transform: uppercase;
}

.header-bottom nav ul {
	text-align: left;
}

.header-bottom nav li {
	padding-right: 42px;
}

.header-bottom nav li:last-child {
	padding-right: 0px;
}

.header-bottom nav a {
	display: inline-block;
	padding-bottom: 6px;
}

.header-bottom nav a:hover {
	display: inline-block;
	border-bottom: 3px solid #77e3ab;
}

.header-bottom nav a:active {
	display: inline-block;
	border-bottom: 3px solid #77e3ab;
}

.header-bottom nav span {
	display: inline-block;
	font-size: 15px;
	font-family: 'FuturaPT-Demi';
	border-bottom: 3px solid #77e3ab;
	padding-bottom: 6px;
}

.phone{
	display: inline-block;
	font-family: 'FuturaPT-Demi';
	font-size: 22px;
	margin-top: 10px;
	margin-left: 17px;
}

.header-bottom a.btn {
	margin-left: 30px;
}

	/* promo */

.promo{
	padding-top: 100px;
	padding-bottom: 350px;
	background-image: url(../img/promo.jpg);
	-webkit-background-size: cover;
	background-size: cover;	/*растягивает на весь блок*/
	background-position: center bottom;
	color: #fff;
	text-align: left;
}


.promo h1 {
	font-family: 'FuturaPT-Bold';
	font-size: 50px;
	width: 50%;
}

.promo span{
	margin-top: 30px;
	display: block;
	font-family: 'FuturaPT-Demi';
	font-size: 38px;
}

	/*footer*/

footer {
	background: url(../img/img_instructors_review.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.footer-top {
	padding-top: 5%;
}

ul.social-networks {
	display: inline-block;
	width: 100%;
	text-align: center;
}

ul.social-networks li{
	padding-right: 5%;
	
}

a[class*=sprite] {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../img/sprite.png);
}

a.youtube-sprite {
	background-position: -5px -137px;
}

a.instagram-sprite {
	background-position: -47px -95px;
}

a.facebook-sprite {
	background-position: -5px -95px;
}

a.vk-sprite {
	background-position: -269px -95px;
}

.footer-top-links {
	text-align: right;
	font-family: 'FuturaPT-Demi';	
}

.footer-top-links a:first-child {display: block; font-size: 22px; margin-bottom: 12px;}
.footer-top-links a:last-child {display: block; font-size: 20px;}

.footer-bottom {
	padding-top: 30px;
	padding-bottom: 100px;
}

.footer-bottom p{
	font-family: 'FuturaPT-Demi';
	font-size: 15px;
}

.footer-bottom nav{
	text-align: right;
}
.footer-bottom nav li{
	margin-left: 70px;
}

/* index.html */

	/* section.info */

.info{
	text-align: center;
}

.note {
	text-align: left;
}

	/* 360*245 */
.note [class*="col"]{
	height: 230px;
	padding-right: 19px;
	padding-bottom: 19px;
}

.note img{
	 /*width: 330px;
	 height: 225px;*/
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}

.note h3{
	margin: 0;
	
}

.note-bottom {
	display: block;
	margin-top: 50px;
}

.note span{
	display: inline-block;
	width: 90%;
	font-family: 'FuturaPT-Medium';
	font-size: 20px;
	vertical-align: middle;
}

.arrow {
	display: inline-block;
	text-align: right;
	width: 31px;
	height: 31px;
	background-image: url(../img/sprite.png);
	background-position: -5px -5px;
	vertical-align: middle;
	
}

	/* section.advantages */

.advantages h3 {
	display: block;
	text-align: center;
	font-size: 20px;
}

[class*=icon] {
	padding-right: 40px;
	margin-bottom: 50px;
}

[class*=icon]:before{
	display: block;
	margin: 0 auto;
	content: '';
	width: 80px;
	height: 80px;
	background-image: url(../img/sprite.png);
}

.icon1:before {
	background-position: -179px -95px;
}

.icon2:before {
	background-position: -226px -5px;
}

.icon3:before {
	background-position: -136px -5px;
}

.icon4:before {
	background-position: -89px -95px;
}

.icon5:before {
	background-position: -5px -185px;
}

.icon6:before {
	background-position: -46px -5px;
}

.advantages p {
	font-size: 15px;
}

	/* section.sales */


.sales {
	/*height: 331px;*/
	background: url(../img/img_baground_index_sale.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	color: white;
}

.sales h2{
	padding-top: 30px;
}

.sales .col4{
	text-align: center;
}

.sales span{
	color: #77e3ab;
}
.sales .btn {
	margin-top: 34px;
	margin-bottom: 34px;
}
	/* section.crew */


.crew {
	background: url(../img/img_index_team.jpg) no-repeat center;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 90px;
}

.crew .container {
	height: 100%;
	background: linear-gradient(to bottom, transparent 40%, #fff );
}

.crew p {
	margin-top: 500px;
	padding-left: 15%;
	padding-right: 15%;
	margin-bottom: 70px;
}

	/* section.community */


.community p {
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	margin-bottom: 40px;
}

	/* section.instagram */

.instagram {
	margin-top: 80px;
	margin-bottom: 58px;
	padding-bottom: 2%;
}

.instagram .col2 {
	padding-left: 1%;
	padding-right: 1%;
}

.instagram img{
	/*width: 200px;*/
	width: 100%;
	/*height: 195px;*/
	height: 200px;
	object-fit: cover;
}


/* schedule.html */

	/* timetable */

table {
	width: 100%;
	border-collapse: collapse;
}

th{
	text-align: left;
	padding-bottom: 10px;
	font-family: 'FuturaPT-Medium';
	font-size: 20px;
}

td {
	border: 1px solid;
	padding: 1%;
	font-family: 'pt_sans';
	font-size: 15px;
}

td:nth-of-type(2n-1), td:nth-of-type(4) {
	width: 13.67%;
}

td:nth-of-type(2) {
	width: 22.66%;
}

td:nth-of-type(6) {
	width: 22.66%;
	text-align: center;
	padding: 0;
	-webkit-transition: background-color .2s ease;
	-o-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

td a {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-family: 'FuturaPt-Heavy';
	color: #77e3ab;
	-webkit-transition: background-color .2s ease;
	-o-transition: background-color .2s ease;
	transition: color .2s ease;
	text-transform: uppercase;
}

td:nth-of-type(6):hover {
	background-color: #77e3ab;
}

td:nth-of-type(6):hover a{
	color: #fff;
	
}
	/* section.choise */

.choise {
	margin-top: 30px;
}

.choise .row{
	width: 100%;
	border: 1px solid;
}

.choise-avatar {
	display: inline-block;
	width: 22.66%;
	padding-left: 50px;
	padding-right: 20px;
	padding-top: 50px;
}

.choise-avatar img {
	width: 90%;
	border: 3px solid #77e3ab;
	border-radius: 50%;
}

.choise-avatar p {
	width: 90%;
	height: 40px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	font-family: 'FuturaPT-Book';
	background-color: #000;
	color: #fff;
	position: relative;
	top: -40px;
}

.choise-content {
	padding-left: 5%;
	display: inline-block;
	width: 54.68%;
	vertical-align: top;
}

.choise-content h3 {
	font-family: 'FuturaPT-Demi';
	font-size: 30px;
	margin-bottom: -10px;
}

.choise-content p {
	width: 70%;
}

.choise-content span {
	display: block;
	font-family: 'FuturaPT-Medium';
	font-size: 20px;
}

a.learn-more {
	font-size: 16px;
	border-bottom: 1px solid #77e3ab;
}

.choise-buy {
	display: inline-block;
	vertical-align: top;
	width: 22.66%;
	padding-top: 1%;
	text-align: center;
}

.choise-buy span {
	display: block;
	width: 100%;
	font-family: 'FuturaPT-Medium';
	font-size: 30px;
	margin-top: 15px;
}

.choise-buy .btn {
	margin-top: 5%;
}

ul.numbers-wrap {
	text-align: center;
}

span.number, a.number {
	font-family: 'FuturaPT-Medium';
	font-size: 20px;
}

span.number {
	color:  #77e3ab;
}

	/* section.feedback */

.feedback {
	text-align: center;
}

.order-call {
	display: inline-block;
}

.order-call label, input, textarea {
	display: block;
	text-align: left;
	font-family: 'FuturaPT-Medium';
	font-size: 20px;
}

.order-call input {
	margin-top: 10px;
	margin-bottom: 25px;
	border: 1px solid black;
}

.order-call textarea {
	resize: vertical;
	margin-top: 20px;
	border: 1px solid black;
}

input.btn {
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: transparent;
}

/* instructors.html */

.instructors {
	text-align: center;
}

.instructors h1 {
	font-family: 'FuturaPT-Demi';
	font-size: 40px;
}

.instructors form {
	display: inline-block;
}

	/* tabs */

.tabs {
	margin-top: 60px;
	margin-bottom: 60px;
}

.tab-top, .tab-bottom-img {
	display: inline-block;
	width: 234px;
	height: 239px;
}

.tab-top img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a.tab-top-img:after {
	display: inline-block;
	color: #fff;
	font-family: futura;
	font-size: 18px;
	font-weight: bold;
	vertical-align: top;
	width: 100%;
	height: 180px;
	position: relative;
	top: -185px;
	background-color: rgba(166, 166, 166, .5);
	z-index: 2;
}

.tab-bottom-img {
	display: inline-block;
	width: 20%;
	height: 180px;
	
}

.tab-bottom-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a.tab-bottom-img:after {
	display: inline-block;
	color: #fff;
	font-family: futura;
	font-size: 18px;
	font-weight: bold;
	vertical-align: top;
	width: 100%;
	height: 180px;
	position: relative;
	top: -185px;
	background-color: rgba(166, 166, 166, .5);
	z-index: 2;
}


a.tab-bottom-img:nth-of-type(1):after {
	content: 'Иван Артемов';
}

a.tab-bottom-img:nth-of-type(2):after {
	content: 'Петр Иванов';
}

a.tab-bottom-img:nth-of-type(3):after {
	content: 'Андрей Стапанов';
}

a.tab-bottom-img:nth-of-type(4):after {
	content: 'Данила Алексеев';
}

a.tab-bottom-img:nth-of-type(5):after {
	content: 'Дмитрий Егоров';
}

a.tab-bottom-img:hover:after {
	z-index: -5;
}



	/*instructor-top*/
.instructor-top {
	margin-left: 40px;
}


.skill-pic {
	width: 80px;
	height: 80px;
	background-image: url(../img/sprite.png);
	background-position: -89px -95px;
}

.instructor-top p {
	font-family: 'FuturaPT-Medium';
	font-size: 17px;
}

p.experience {
	padding-left: 35px;
}

.instructor-top h2 {
	margin-top: 0px;
	font-size: 30px;
	text-align: left;
}

ul.hashtags {
	padding-left: 0px;
}

.hashtags li {
	display: block;
	font-family: 'FuturaPT-Medium';
	font-size: 17px;
}

.instructor-top a.btn {
	margin-top: 40px;
}

a.thanks {
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	font-weight: bold;
	color: #000;
}

	/*instructor-bottom*/

.instructor-bottom {
	text-align: left;
	margin-top: 5%;
	margin-left: 40px;
}

.instructor-bottom p {
	margin-right: 70px;
}

.youtube-video {
	text-align: right;
}

.youtube-video iframe {
	margin-right: 30px;
}

	/*instructor-comments*/

.instructor-comments {
	background: url(../img/img_instructors_review.jpg) no-repeat;
	background-position: top;
	background-size: cover;
	text-align: left;
	margin-left: 30px;
	margin-top: 50px;
	margin-right: 30px;
	margin-bottom: 50px;
}

.instructor-comments a {
	display: inline-block;
	font-family: 'FuturaPT-Medium';
	font-size: 20px;
	padding-top: 2%;
	padding-left: 2%;
	vertical-align: middle;
}

.instructor-comments a:after {
	margin-left: 30px;
	display: inline-block;
	content: '';
	width: 32px;
	height: 32px;
	background: url(../img/sprite.png);
	background-position: -269px -95px;
	vertical-align: middle;
}

.instructor-comments blockquote {
	font-family: 'pt_sans';
	font-size: 14px;
	text-align: left;
	padding-bottom: 10%;
	padding-right: 400px;
	margin-left: 22px;
}

